@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center w-100 h-100 bg-dark-subtle">
    <h1 class="display-4 text-bg-light">Welcome</h1>
    <div class="my-4 flex flex-row align-items-center justify-content-between">
        <a class="btn btn-primary" asp-area="" asp-controller="Book" asp-action="Index">Books</a>
        <a class="btn btn-primary" asp-area="" asp-controller="Author" asp-action="Index">Authors</a>
        <a class="btn btn-primary" asp-area="" asp-controller="PublishingHouse" asp-action="Index">Publishing Houses</a>
    </div>
</div>
